<ion-view view-title="Discover"  ng-controller="detailsModalCtrl">
  <ion-content style="background-color:#F0F0F0">
    <ion-list class="item card">

      <ion-item ng-click="openModal()" class="item-icon-right"  type="item-text-wrap">
          <i class="ion-pound"></i><span style="color:#11c1f3;">discovery</span><i class="icon ion-arrow-up-b icon-accessory"></i>
      </ion-item>

      <ion-item class=" item-thumbnail-left item-icon-right" ng-repeat="detail in details" type="item-text-wrap" href="#/tab/details/{{detail.id}}">
        <img ng-src="{{detail.img}}">
          <br>
        <h2>{{detail.title}}</h2>
        <p>{{detail.type}}</p>
        <p>{{detail.date}}</p>

        <!-- Took out location and date for now to make it look simpler
        <p>{{chat.location}}</p>
        <p>{{chat.date}}</p>
        -->
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
