<ion-view view-title="Discover">
  <ion-content style="background-color:#F0F0F0" ng-controller="detailsModalCtrl">
    <ion-list class="item card">
      <div class="item" ng-click="openModal()"><i class=" icon ion-pound"></i>discovery
    </div>
      <ion-item class=" item-thumbnail-left item-icon-right" ng-repeat="detail in details" type="item-text-wrap" href="#/tab/details/{{detail.id}}">
        <img ng-src="{{detail.img}}">
          <br>
        <h2>{{detail.title}}</h2>
        <p>{{detail.type}}</p>
        <p>{{detail.date}}</p>

        <!-- Took out location and date for now to make it look simpler
        <p>{{chat.location}}</p>
        <p>{{chat.date}}</p>
        -->
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
