<ion-view view-title="UMKC">
  <ion-content style="background-color:#F0F0F0">
    <ion-list>
      <ion-item class=" item-thumbnail-left item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/details/{{chat.id}}">
        <img ng-src="{{chat.img}}">
          <br>
        <h2>{{chat.title}}</h2>
        <p>{{chat.type}}</p>

        <!-- Took out location and date for now to make it look simpler
        <p>{{chat.location}}</p>
        <p>{{chat.date}}</p>
        -->
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
