<ion-view view-title="Post">
  <ion-content style="background-color:#F0F0F0">
    <div class=" card">

      <div class="item item-divider">
        Title
      </div>
      <label class="item item-input">
        <input type="text" placeholder="Add Title">
      </label>


    <!-- date & field -->

        <div class="item item-divider">
          Date & Time
        </div>
        <label class="item item-input">
          <input type="text" placeholder="Add Date">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Add Time">
        </label>

      <!-- Location field -->

        <div class="item item-divider">
          Where
        </div>
        <label class="item item-input">
          <input type="text" placeholder="Add Location">
        </label>


    <!---Photo Field not yet working-->

      <div class="item item-divider">
        Photos
      </div>
        <div class="item item-body">
            <i class="icon ion-ios-camera" style="font-size:2em;"></i>
        </div>


      <!---Details Field-->

        <div class="item item-divider">
            Details
        </div>
        <label class="item item-input">
          <textarea type="text" placeholder="Add Details" style="height:100px;"></textarea>
        </label>
      <!-- submit button -->
      <button class="button button-block button-balanced">Submit</button>

    </div>
  </ion-content>
</ion-view>
