<ion-view view-title="Post">
  <ion-content style="background-color:#F0F0F0">
    <div class=" card">

      <div class="item item-divider">
        Title
      </div>
      <label class="item item-input">
        <input type="text" placeholder="Add Title">
      </label>


    <!-- date & field -->

        <div class="item item-divider">
          Name
        </div>
        <label class="item item-input">
          <input type="text" placeholder="You can be whoever you want">
        </label>

      <!---Details Field-->

        <div class="item item-divider">
            Details
        </div>
        <label class="item item-input">
          <textarea type="text" placeholder="Add Details" style="height:270px;"></textarea>
        </label>
      </div>
      <!-- submit button -->
      <button class="button button-block button-balanced" style="width:90%; margin:0 auto 0 auto;">Push to Forum</button>

  </ion-content>
</ion-view>
