<ion-view view-title="">
  <ion-content class="padding" style="background-color:#F0F0F0">

  <div class="list card">

    <div class="item item-text-wrap">
      <h3 style="margin: 10px 0 10px 10px;">{{forum.title}}</h3>
    </div>

    <div class="item item-body">
      <p>
        {{forum.details}}
        <span style="margin: 0 0 0 220px; font-size: .7em;">{{forum.time}} ago </span>
      </p>
    </div>
    <div class="item tabs tabs-secondary tabs-icon-right">
      <div class="tab-item">
        <p>{{forum.name}}</p>
      </div>
      <div class="tab-item">
      </div>
      <a class="tab-item" href="#">
        <i class="icon ion-email"></i>
      </a>
    </div>

  </div>


  </ion-content>
</ion-view>
