<ion-view view-title="Student Forum">
  <ion-content style="background-color:#F0F0F0">
    <ion-list class="item card">
      <a class="item"ng-repeat="forum in forums" href="#/tab/forumDetails/{{forum.id}}">
        <div class=" item-text-wrap">
            <h2>{{forum.title}}</h2>
        </div>
        <div class="row" style="color:#5D5D5D; font-size:.7em;">
        <div class="col-25">
        {{forum.name}}
        </div>
        <div class="cold-25 col-offset-50">
          {{forum.time}} ago
        </div>
      </div>
      </a>
    </ion-list>
  </ion-content>
</ion-view>
