<ion-view view-title="Details">
  <ion-content class="padding" style="background-color:#F0F0F0">

  <div class="list card" >
    <div class=" item-text-wrap">
        <h4 style="margin: 10px 0 10px 10px;">{{forum.title}}</4>
    </div>


    <div class="item item-body">
      <div class="item">
        <p>{{forum.details}}</p>
    </div>
    </div>
    <div class="item">
       {{forum.name}}     <span style="margin: 0 0 0 200px; font-size: .5em;">{{forum.time}} ago </span>
    </div>
  </div>

  </ion-content>
</ion-view>
