<ion-view view-title="">
  <ion-content class="padding" style="background-color:#F0F0F0">

  <div class="list card">

    <div class="item item-text-wrap">
      <h2 style="margin: auto;">{{forum.title}}</h2>
    </div>

    <div class="item item-body">
      <p>
        {{forum.details}}
        <div class="row" style="color:#5D5D5D; font-size:.7em;">
        <div class="col-50">
        {{forum.name}}
        </div>
        <div class="cold-25 col-offset-25">
          {{forum.time}} ago
        </div>
      </div>
      </p>
    </div>
    <div class="item tabs tabs-secondary tabs-icon-right">
      <div class="tab-item">
      </div>
      <div class="tab-item">
      </div>
      <a class="tab-item" href="#">
        <i class="icon ion-paper-airplane"></i>
      </a>
    </div>

  </div>


  </ion-content>
</ion-view>
