<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->

<ion-view view-title="{{chat.type}}">
  <ion-content class="padding" style="background-color:#F0F0F0">

  <div class="list card" ng-controller="detailsModalCtrl">
    <div class="item">
      <h2>{{chat.title}}</h2>
      <p>{{chat.location}}</p>
      <p>{{chat.date}}&nbsp;{{chat.time}}</p>
    </div>

    <div class="item item-body">
      <div class="item item-image">
      <img class="full-image" ng-src="{{chat.img}}" ng-click="openModal()">
      </div>
      <div class="item">
      <p>
        {{chat.details}}
      </p>
    </div>
    </div>
    <div class="item">
        Contact: {{chat.contact}}
    </div>
  </div>

  </ion-content>
</ion-view>
