<ion-view view-title="{{detail.type}}">
  <ion-content class="padding" style="background-color:#F0F0F0">

  <div class="list card" ng-controller="detailsModalCtrl">
    <div class="item">
      <h2>{{detail.title}}</h2>
      <p>{{detail.location}}</p>
      <p>{{detail.date}}&nbsp;{{detail.time}}</p>
    </div>

    <div class="item item-body">
      <div class="item item-image">
      <img class="full-image" ng-src="{{detail.img}}" ng-click="openModal()">
      </div>
      <div class="item">
      <p>
        {{detail.details}}
      </p>
    </div>
    </div>
    <div class="item">
        Contact: {{detail.contact}}
    </div>
  </div>

  </ion-content>
</ion-view>
