<ion-view view-title="{{detail.type}}">
  <ion-content class="padding" style="background-color:#F0F0F0">

  <div class="list card">
    <div class="item">
      <h2>{{detail.title}}</h2>
      <p>{{detail.location}}</p>
      <p>{{detail.date}}&nbsp;{{detail.time}}</p>
    </div>

    <div class="item item-body">
      <div class="item item-image">
      <img class="full-image" ng-src="{{detail.img}}">
      </div>
      <div class="item">
      <p>
        {{detail.details}}
      </p>
    </div>
    </div>
    <div class="item tabs tabs-secondary tabs-icon-right">
      <a class="tab-item" href="#">

      </a>
      <a class="tab-item" href="#">
      
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-email"></i>
      </a>
    </div>
  </div>

  </ion-content>
</ion-view>
