<ion-modal-view>
  <ion-header-bar style="background-color:#F0F0F0"><span ng-click="closeModal()" style="font-size:2em; margin:auto 0 auto 5px;; "class="ion-close"></span>
  <span style="font-size:1.2em; color:black; margin: auto 0 auto 95px;"><i class="ion-pound"><i><span style="color:#11c1f3;">discovery Mode<span></span>
  </ion-header-bar>
  <ion-content style="background-color:#F0F0F0">
    <br><br>
    <ion-slide-box show-pager="true" on-slide-changed="slideHasChanged($index)">
<ion-slide ng-repeat="detail in details">
  <div class="card">
  <a href="#/tab/details/{{detail.id}}"><img class="full-image" ng-src="{{detail.img}}" ng-click="closeModal()"></img></a>
</div>
</ion-slide>
</ion-slide-box>
  </ion-content>
</ion-modal-view>
